{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for row in tmp %}
    <tr>
        <td>{{ row["hsymbol"] }}</td>
        <td>{{ row["hshares"] }}</td>
        <td>${{ row["hprice"] }}</td>
        <td>{{ row["time"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}